rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isAdmin() {
      return request.auth.token.email in [
        "techanalyst41@gmail.com",
        "alexokeyo15@gmail.com"
      ];
    }

    match /posts/{postId} {

      // Anyone can read published posts
      allow read: if true;

      // Only admins can create/update/delete
      allow create, update, delete: if isSignedIn() && isAdmin();
    }
  }
}